@import 'globals.scss';
@import 'console-themes.scss';
.container {
    @include monospace;
    overflow-x: hidden;
    &.themed{
        @include theme;
    }
    height: 100vh;
    width: 100vw;
    pre{
        padding: 0;
        margin: 0;
    }
}